<!DOCTYPE html> <!--document version is html-->

<html lang="en-US"> <!--language of website is English-->
<head>    <!-- shows information about the website-->
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 

    <!--My CSS stylesheet-->
    <link rel="stylesheet" href="../css/styles.css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--Title of website that shows in the browser-->
    <title>Echoes of Eden</title>
</head>

<body> <!--this is where the information goes that the user of the website will see-->
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <img class="logo" src="../images/logo.png" alt=logo href="#"> <!--this is the logo-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item active">
              <a class="nav-item nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="new-releases.html">New Release</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="shows.html">Shows</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
    </nav>   

    <div class="container">
      <div class="topSection"> <!--this is the header for the content and description of the band-->
        <h1>About Us</h1>
        <p>Echoes of Eden was formed in October 2013 in Winchester, VA, as The Fallen, writing original material mixing hard rock ballads and heavy metal grooves. Thundering rhythms mix with headbanging riffs and haunting melodies to create a sound that is fresh and unique, epic and engaging.</p>
      </div>
    </div>
    <div class="container">
      <div class="card-deck">
        <div class="row"> 
          <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
            <div class="card">
              <img src="../images/kristinthumb.jpg" class="card-img-top" alt="Kristin">
              <div class="card-body">
                <h5 class="card-title">Kristin</h5>
                <p class="card-text">Kristin is the lead vocalist and songwriter.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
            <div class="card">
              <img src="../images/charlythumb.jpg" class="card-img-top" alt="Charly">
              <div class="card-body">
                <h5 class="card-title">Charly</h5>
                <p class="card-text">Charly plays guitar and sings back-up vocals.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
            <div class="card">
              <img src="../images/chrisjthumb.jpg" class="card-img-top" alt="Chris J.">
              <div class="card-body">
                <h5 class="card-title">Chris J.</h5>
                <p class="card-text">Chris J. is the band's guitarrist and plays bass.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
            <div class="card">
              <img src="../images/chrissthumb.jpg" class="card-img-top" alt="Chris S.">
              <div class="card-body">
                <h5 class="card-title">Chris S.</h5>
                <p class="card-text">Chris S. plays drums and bass.</p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>

      <footer class="footer">
          <div class="copyright">
            <p>&copy Echoes of Eden 2020</p>   
          </div>
        
          <div class="icon"> <!--this is the section where the social media icons go-->
              <a href="https://open.spotify.com/artist/1oU9LvcSCWsC4YSacjqYNW?si=78QAFoLfRraSVbifTJ9saQ" target="_blank"> <!--this link takes user to artist's profile on spotify-->
              <img src="../images/spotifyicon.svg" alt=EoE on Spotify width=30px height=30px>
              </a>
          </div>
            
          <div class="icon">   
              <a href="https://www.youtube.com/watch?v=0IreQqEInZ0" target="_blank">
              <img src="../images/youtubeicon.svg" alt=EoE on YouTube width=30px height=30px>
              </a>    
          </div> 
        
          <div class="icon">
              <a href="https://www.facebook.com/KilltheIndustry/" target="_blank">
              <img src="../images/facebookicon.svg" alt=EoE on Facebook width=30px height=30px>
              </a>
          </div>
        </footer>
    
          <!--JavaScript-->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </body>  
</html>