<!DOCTYPE html> <!--document version is html-->

<html lang="en-US"> <!--language of website is English-->
<head>    <!-- shows information about the website-->
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 

    <!--My CSS stylesheet-->
    <link rel="stylesheet" href="../css/styles.css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--Title of website that shows in the browser-->
    <title>Echoes of Eden</title>
</head>

<body> <!--this is where the information goes that the user of the website will see-->
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <img class="logo" src="../images/logo.png" alt=logo href="#"> <!--this is the logo-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item active">
              <a class="nav-item nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="new-releases.html">New Release</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="shows.html">Shows</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
    </nav> 

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Everything Dies</h1>
          <p class="lead">Listen to our latest album on Spotify.</p>
          <iframe src="https://open.spotify.com/embed/album/0OdFR7grw9Rugy5QBjnx7f" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> <!--this is the plugin for Spotify-->
        </div>
      </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-7 col-mg-7 col-sm-12 col-xs-12">  
            <img src="../images/albumcover.jpg" alt=albumcover> <!--this is the cover of the album-->
          </div>

          <div class="col-lg-5 col-mg-5 col-sm-12 col-xs-12">
            <h1>Everything Dies</h1>
            <ol> <!--ordered list for songs-->
                <li>Intro (The Fallen Nation)</li>
                <li>Rotten</li>
                <li>The Darkness Within</li>
                <li>The Shadow Over Me</li>
                <li>Deny Me</li>
                <li>Interlude</li>
                <li>Father</li>
                <li>Beg</li>
                <li>Her</li>
                <li>Victimized</li>
                <li>Everything Dies</li>
                <li>Away</li>
                <li>Kill The Industry</li>
            </ol>
          </div>
        </div>
    </div>

    <footer class="footer">
        <div class="copyright">
            <p>&copy Echoes of Eden 2020</p>   
        </div>
    
        <div class="icon"> <!--this is the section where the social media icons go-->
            <a href="https://open.spotify.com/artist/1oU9LvcSCWsC4YSacjqYNW?si=78QAFoLfRraSVbifTJ9saQ" target="_blank"> <!--this link takes user to artist's profile on spotify-->
            <img src="../images/spotifyicon.svg" alt=EoE on Spotify width=30px height=30px>
            </a>
        </div>
        
        <div class="icon">   
            <a href="https://www.youtube.com/watch?v=0IreQqEInZ0" target="_blank">
            <img src="../images/youtubeicon.svg" alt=EoE on YouTube width=30px height=30px>
            </a>    
        </div> 
    
        <div class="icon">
            <a href="https://www.facebook.com/KilltheIndustry/" target="_blank">
            <img src="../images/facebookicon.svg" alt=EoE on Facebook width=30px height=30px>
            </a>
        </div>
    </footer>

        <!--JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>   
</html>