<!DOCTYPE html> <!--document version is html-->

<html lang="en-US"> <!--language of website is English-->
<head>    <!-- shows information about the website-->
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 

    <!--My CSS stylesheet-->
    <link rel="stylesheet" href="../css/styles.css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <!--Title of website that shows in the browser-->
    <title>Echoes of Eden</title>
</head>

<body> <!--this is where the information goes that the user of the website will see-->
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <img class="logo" src="../images/logo.png" alt=logo href="#"> <!--this is the logo-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item active">
              <a class="nav-item nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="new-releases.html">New Release</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="shows.html">Shows</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="about-us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
    </nav>   

        <div class="container">
            <div class="topSection"> <!--this is the header for the content-->
                <h1>Shows 2020</h1>
                <p>We play in clubs, bars, at community festivals, and you can use our contact form or social media to reach out to us for inquiries and bookings.<br>Due to public health concerns during the coronavirus pandemic this year, most of our shows had to be cancelled during spring and summer. For upcoming festivals, please check your local media for possible cancellations.<br>Check out our past and upcoming shows below.</p>
            </div>
        </div>

        <div class="container" id="agenda">
            <div class="row">
                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>November 7</h3>
                        <p>Tri-state fall festival<br> Clarksburg, WV <br>4:00 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>October 29</h3>
                        <p>Fall River Fest<br> Cumberland, VA <br>6:30 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>October 23</h3>
                        <p>Morgan's Kitchen<br> St. Albans, MD <br>7:00 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>October 17</h3>
                        <p>International Street Festival<br> Morgantown, WV <br>5:00 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>October 3</h3>
                        <p>Harvest Rock Festival<br> Martinsburg, WV <br>5:00 P.M.</p>
                    </div> 
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                  <div class="agendaItem">
                        <h3>September 25</h3>
                        <p>Jenna's<br> Hagerstown, MD <br>7:30 P.M.</p>
                    </div> 
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>September 19</h3>
                        <p>House Bar<br> Gettysburg, PA <br>8:00 P.M.</p>
                    </div> 
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>September 17</h3>
                        <p>The 47 Rock Club<br> Frederick, MD <br>6:00 P.M.</p>
                    </div> 
                </div>
                
                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>September 12</h3>
                        <p>Dawg House Bar<br> Waynesboro, PA <br>6:30 P.M.</p>
                    </div>    
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>August 20</h3>
                        <p>Backseat Bar and Grill<br> Winchester, VA <br>7:00 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>February 16</h3>
                        <p>Blue Fox Billiards Bar<br> Winchester, VA <br>5:30 P.M.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-mg-3 col-sm-6 col-xs-12">
                    <div class="agendaItem">
                        <h3>January 10</h3>
                        <p>Nan and Pop's Place<br> Martinsburg, WV <br>9 P.M.</p>
                    </div>
                </div>
                
            </div>

        </div>

        <footer class="footer">
            <div class="copyright">
                <p>&copy Echoes of Eden 2020</p>   
            </div>
        
            <div class="icon"> <!--this is the section where the social media icons go-->
                <a href="https://open.spotify.com/artist/1oU9LvcSCWsC4YSacjqYNW?si=78QAFoLfRraSVbifTJ9saQ" target="_blank"> <!--this link takes user to artist's profile on spotify-->
                <img src="../images/spotifyicon.svg" alt=EoE on Spotify width=30px height=30px>
                </a>
            </div>
            
            <div class="icon">   
                <a href="https://www.youtube.com/watch?v=0IreQqEInZ0" target="_blank">
                <img src="../images/youtubeicon.svg" alt=EoE on YouTube width=30px height=30px>
                </a>    
            </div> 
        
            <div class="icon">
                <a href="https://www.facebook.com/KilltheIndustry/" target="_blank">
                <img src="../images/facebookicon.svg" alt=EoE on Facebook width=30px height=30px>
                </a>
            </div>
        </footer>
    
            <!--JavaScript-->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </body>      
</html>